.clear-btn{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #c4c2cc;
    color: black;
    flex: 1;
    outline: 1px solid #888888;
}